.pic {
	background: url('pictures/icons.png') no-repeat;
	width:11px;
	height:13px;	
	background-position: -25px -1px;
	margin:5px;
}

.photo {
	background: url('pictures/icons.png') no-repeat;
	width:13px;
	height:15px;	
	background-position: 0px -72px;
	margin:5px;
}

.d {
	background: url('pictures/icons.png') no-repeat;
	width:12px;
	height:7px;	
	background-position: -457px -124px;
	margin:5px;
}

.e {
	background: url('pictures/icons.png') no-repeat;
	width:12px;
	height:13px;	
	background-position: -457px -145px;
	margin:5px;
}

.f {
	background: url('pictures/icons.png') no-repeat;
	width:12px;
	height:13px;	
	background-position: -1px -145px;
	margin:5px;
}

.g {
	background: url('pictures/icons.png') no-repeat;
	width:7px;
	height:12px;	
	background-position: -195px -74px;
	margin:5px;
}

.i {
	background: url('pictures/icons.png') no-repeat;
	width:12px;
	height:11px;	
	background-position: -265px -99px;
	margin:5px;
}

.j {
	background: url('pictures/icons.png') no-repeat;
	width:11px;
	height:13px;	
	background-position: -170px -121px;
	margin:5px;
}

.k {
	background: url('pictures/icons.png') no-repeat;
	width:12px;
	height:9px;	
	background-position: -433px -51px;
	margin:5px;
}

.m {
	background: url('pictures/icons.png') no-repeat;
	width:12px;
	height:12px;	
	background-position: -361px -50px;
	margin:5px;
}

.n {
	background: url('pictures/icons.png') no-repeat;
	width:12px;
	height:13px;	
	background-position: -169px -1px;
	margin:5px;
}

.o {
	background: url('pictures/icons.png') no-repeat;
	width:12px;
	height:10px;	
	background-position: -121px -51px;
	margin:5px;
}

.p {
	background: url('pictures/icons.png') no-repeat;
	width:11px;
	height:14px;	
	background-position: -74px -120px;
	margin:5px;
}

.q {
	background: url('pictures/icons.png') no-repeat;
	width:11px;
	height:14px;	
	background-position: -458px 0px;
	margin:5px;
}

.r {
	background: url('pictures/icons.png') no-repeat;
	width:12px;
	height:13px;	
	background-position: -1px -97px;
	margin:5px;
}

.s {
	background: url('pictures/icons.png') no-repeat;
	width:3px;
	height:13px;	
	background-position: -216px -49px;
	margin:5px;
}

.t {
	background: url('pictures/icons.png') no-repeat;
	width:12px;
	height:12px;	
	background-position: -121px -74px;
	margin:5px;
}

.u {
	background: url('pictures/icons.png') no-repeat;
	width:12px;
	height:13px;	
	background-position: -217px -97px;
	margin:5px;
}
